<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla de Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Bienvenido al Sistema de Monitoreo</h1>        
        
        <!-- Botón para el administrador -->
        <a href="/login">
            <button class="button">Iniciar Sesión</button>
        </a>
    </div>
</body>
</html>